:root { 
--green_300:#8ac190; 
--white_A700_3a:#ffffff3a; 
--light_blue_500:#009dff; 
--light_blue_500_01:#08abf1; 
--white_A700_99:#ffffff99; 
--black_900_01:#0a0a0a; 
--light_blue_A700:#009af1; 
--white_A700_19:#ffffff19; 
--blue_gray_700:#525252; 
--blue_gray_900:#333333; 
--deep_purple_A200:#6355ff; 
--pink_300:#ff55a6; 
--white_A700_4c:#ffffff4c; 
--blue_900:#195aa8; 
--blue_gray_100:#d9d9d9; 
--blue_700:#106ad5; 
--indigo_A700_b2:#0019ffb2; 
--red_A200:#ff5555; 
--light_blue_600_01:#0ea5e9; 
--black_900_0c:#0000000c; 
--white_A700_63:#ffffff63; 
--indigo_A700:#082df1; 
--blue_gray_900_cc:#333333cc; 
--white_A700_28:#ffffff28; 
--white_A700:#ffffff; 
--orange_300_7f:#ffa7567f; 
--deep_purple_900:#291890; 
--green_400_7f:#3fcc807f; 
--light_blue_600:#089df1; 
--red_500:#f53649; 
--gray_50:#fafafa; 
--green_400:#3fcc80; 
--white_A700_33:#ffffff33; 
--black_900:#000000; 
--white_A700_37:#ffffff37; 
--gray_500_01:#a3a3a3; 
--gray_500_02:#89a38b; 
--light_blue_400_b2:#31b5ffb2; 
--gray_900_02:#171717; 
--white_A700_e5:#ffffffe5; 
--gray_900_03:#191a1e; 
--gray_700:#6a6a6a; 
--gray_500:#999999; 
--blue_800:#0159dd; 
--gray_900:#0e0f2d; 
--gray_900_01:#262626; 
--orange_300:#ffa756; 
--deep_purple_A200_7f:#6355ff7f; 
--gray_100:#f7f7f7; 
--white_A700_87:#ffffff87; 
--blue_400_7f:#55a3ff7f; 
--black_900_cc:#000000cc; 
--black_900_33:#06070a33; 
--white_A700_02:#ffffff02; 
--light_blue_500_4c:#009dff4c; 
--blue_400:#55a3ff; 
}